{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
    <ul>
        {% for product in products %}
            <li>{{ product.name }}</li>
            <li>{{ product.description }}</li>
            <li>{{ product.shortDescription }}</li>
            <li>{{ product.price }}</li>
            <li>{{ product.quantity }}</li>
        {% endfor %}
    </ul>
{% endblock %}
